body {
  text-align: center;
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.table {
  margin: auto;
  width: 300px !important;
}

tr {
  border: 1px solid #222;
}

.header {
  text-align: left;
  background-color: #222;
  color: #9d9d9d;
  /*height: 150px;*/
  /*padding: 20px;*/
}

.vertical-align {
    display: flex;
    align-items: center;
}

.align-center {
  text-align: center;
}

.content {
  margin: auto;
  width: 600px;
  padding-top: 50px;
}

.false {
  background-color: red;
}

.true {
  background-color: green;
}